{# Le agrego el table responsive a la tabla con lg y md para que se adapte bien tambien #}
<table id="table" class="table table-striped table-bordered table-responsive-lg table-responsive-md" width="100%" namefile="Listado de Colores">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>    
</table>






